body {
    height: 100%;
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#select-gui-container {
    position: absolute;
    top: 390px;
    right: 0px;
    z-index: 10;
}

#terrain-gui-container {
    position: absolute;
    top: 500px;
    right: 0px;
    z-index: 10;
}

#info {
	position: absolute;
	top: flex;
	text-align: left;
	z-index: 100;
	display:block;
    color: #eeff00;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.438);
    width: flex;
    height: flex;
}
#speed {
    position: absolute;
    top: flex;
    text-align: left;
    z-index: 100;
    display: block;
    color: #ffffff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.438);
    width: flex;
    height: flex;
}