<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <!-- required for apple-app-site-association: -->
      <mimeMap fileExtension=".gsd" mimeType="application/gsd" />
      <mimeMap fileExtension=".3ds" mimeType="application/x-3ds"/>
      <mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
      <!--<mimeMap fileExtension=".glb" mimeType="model/gltf+json" />-->
    </staticContent>
  </system.webServer>
</configuration>